<!DOCTYPE html>
<html>
  <head>
    <style>{{>style}}</style>
  </head>
  <body>
    {{> requiredScripts}}
    {{> menu overviewPageStatus='' summaryPageStatus='active' featureName=name overviewLink='../featuresOverview.html'}}
    <div id="container-chart"></div>

    <script>
      var totalPassed = {{stepsPassedCount}};
      var totalSkipped = {{stepsSkippedCount}};
      var totalFailed = {{stepsFailedCount}};
      var subTitle = '{{keyword}}: {{name}}';
      
      var totalSteps = {{stepsTotalCount}};
      var percentageTotalPassed = ((totalPassed / totalSteps) * 100).toFixed(2);
      var percentageTotalFailed = ((totalFailed / totalSteps) * 100).toFixed(2);
      var percentageTotalSkipped = ((totalSkipped / totalSteps) * 100).toFixed(2);
      var overallStatus = percentageTotalPassed + '% passed, ' + percentageTotalFailed + '% failed, ' + percentageTotalSkipped + '% skipped';
      subTitle += '<br/>' + overallStatus;
      
    </script>

    <div id="feature-container" class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{keyword}}: {{name}}
          <span class="badge badge-success">{{#date total_duration}}{{/date}}
          </span>
        </h3>
        
      </div>
      <div class="panel-body">
        <ul class="list-group">
          
          {{#each elements}}
            <li class="scenario list-group-item list-group-item-success"><span class="caret"></span>
              {{keyword}}: {{name}} | statusssss: {{result.error_message}}
              <span class="label label-success">{{#date total_duration}}{{/date}}</span>

              <ul class="steps list-group">
                
                {{#each steps}}
                  
                  {{#unless hidden}}
                    <li class="list-group-item list-group-item-{{#result-color result.status}}{{/result-color}}">
                      <span class="badge">{{#date result.duration}}{{/date}}</span>
                      <p>{{keyword}}: {{name}} | status: {{result.status}}</p>
                      {{#if result.error_message}}
                        <pre>{{result.error_message}}</pre>
                      {{/if}}
                      {{#if rows}}
                        <pre>{{#do_table rows}}{{/do_table}}</pre>
                      {{/if}}
                    </li>
                    
                  {{/unless}}
                  
                {{/each}}
                {{#if embeddings}}
                <li class="list-group-item list-group-item-default">
                  {{#each embeddings}}
                    {{#embedding data mime_type @index}}{{/embedding}}
                  {{/each}}
                </li>
                {{/if}}
              </ul>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
    <a href="#" class="back-to-top" style="display: none;">
      <i title="Scroll UP" class="glyphicon glyphicon-triangle-top"></i>
    </a>
    {{> highchartsScripts}}
    {{> analitics}}
    {{> scrollTopScript}}
  </body>
</html>